
<nav class="navbar navbar-expand-lg row justify-content-start shadow-sm p-2 mb-1 fixed-top" style="background-color: #B7B7B7">
  <div class="container-fluid">
    <a class="navbar-brand col" href="#">
      <img src="static/picture1.png" alt="brand-logo" width="190" height="150">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav col ">
        <li class="nav-item mx-auto p-2" >
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item mx-auto p-2">
          <a class="nav-link" href="#">About me</a>
        </li>
        <li class="nav-item dropdown mx-auto p-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            services & pricing
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" >Makeup</a></li>
            <li><a class="dropdown-item" href="#" >Hair style</a></li>
            <li><a class="dropdown-item" href="#">Nail art</a></li>
          </ul>
        </li>
        <li class="nav-item mx-auto p-2">
          <a class="nav-link" href="#">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
